{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "comma-dangle": "off",
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": "off",
    "object-curly-spacing": "off",
    "object-curly-newline": "off",
    "lines-between-class-members": "off",
    "padded-blocks": "off",
    "no-trailing-spaces": "off",
    "eol-last": "off",
    "array-bracket-spacing": "off",
    "no-process-exit": "off",
    "array-element-newline": "off",
    "padding-line-between-statements": "off",
    "import/no-unresolved": "off",
    "import/namespace": "off",
    "import/default": "off",
    "import/no-duplicates": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "function-call-argument-newline": "off",
    "perfectionist/sort-imports": "off",
    "perfectionist/sort-classes": "off",
    "perfectionist/sort-objects": "off",
    "perfectionist/sort-union-types": "off",
    "perfectionist/sort-interfaces": "off",
    "perfectionist/sort-object-types": "off",
    "unicorn/no-process-exit": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/import-style": "off",
    "unicorn/empty-brace-spaces": "off",
    "unicorn/prefer-ternary": "off",
    "unicorn/prefer-string-slice": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
